{% extends 'base.html.twig' %}

{% block title %}Profil de {{ salesman.firstname }} | Stark Industries{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("build/contratlisting_style.css") }}">
{% endblock %}
{% block body %}

    <div class="bg-gray-100 p-6 relative md:ml-64 min-h-screen overflow-x-hidden">
        <h1 class="order-1 text-gray-900 text-3xl font-extrabold tracking-tight">Mes contrats</h1>
            {% if contrats is not empty %}


            <div id="contrats-list" class="grid grid-cols-1 gap-6">
                <div class="search-forms w-full grid grid-cols-1 grid-rows-2">
                <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
                    <div class="row-start-2 grid grid-cols-1 grid-rows-2">
                        <p class="row-start-1">Trier par :</p>
                        <div class="row-start-2 flex justify-between md:justify-start">
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-numcontrat">Contrat</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-status">Statut</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-datecontrat">Date</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-nom">Nom</button>
                        </div>
                    </div>
                    <input class="search row-start-1 phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-yellow-600 outline-none my-3" placeholder="Rechercher un contrat" /><br>

                </div>
                <ul class="list w-full flex flex-wrap justify-around">
                    {% for contrat in contrats %}
                <!-- 1 card -->
                        <li class="m-5">
                            <div class="contract-item relative bg-white py-6 px-6 rounded-md w-72 my-4 shadow-lg">
                    <div>
                        <p class="text-xl font-semibold mb-5">Contrat n°<span class="list-numcontrat">{{ contrat.getNumContrat() }}</span></p>
                        <div class="flex items-center space-x-2 text-gray-400 text-sm">
                            <i class="fas fa-user"></i>
                            <p>{% if contrat.getInfoClient()['gender'] == 'F' %}
                                Mme
                                {% else %}
                                    M.
                                    {% endif %}
                                {{ contrat.getInfoClient()['firstname'] }} <span class="list-nom">{{ contrat.getInfoClient()['lastname'] }}</span></p>
                        </div>
                        <div class="flex items-center space-x-2 text-gray-400 text-sm my-3">
                            <i class="far fa-calendar-alt"></i>
                            <p>Fait le <span class="list-datecontrat timestamp" data-timestamp="{{ contrat.getCreated() }}">{{ contrat.getCreated() }}</span></p>
                        </div>
                        <div class="h-px mt-5 bg-gray-300"></div>

                        <div>
                            <div class="mt-2 w-full text-center">
                                {# <p class="font-semibold text-base">Statut</p> #}
                                <div class="my-5 text-base font-semibold uppercase">
                                        {% if contrat.getStatus() == '1' %}
                                            <p class="list-status text-gray-400">En attente client</p>
                                        {% elseif contrat.getStatus() == '2' %}
                                            <p class="list-status text-yellow-400">En attente back-office</p>
                                        {% elseif contrat.getStatus() == '3' %}
                                            <p class="list-status text-green-600">Validé</p>
                                        {% elseif contrat.getStatus() == '4' %}
                                            <p class="list-status text-red-600">Rétracté</p>
                                        {% elseif contrat.getStatus() == '5' %}
                                            <p class="list-status text-red-600">Injoignable</p>
                                        {% elseif contrat.getStatus() == '6' %}
                                            <p class="list-status text-red-600">Impayé</p>
                                        {% else %}
                                            <p class="list-status text-red-900">Erreur</p>
                                        {% endif %}
                                </div>
                            </div>
                            <button class="w-full detail_button py-2 px-10 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-value="contrat{{ contrat.getNumContrat() }}">Détails</button>
                        </div>
                    </div>
                </div>
                            <div class="contrat_details w-screen h-screen z-50 hidden fixed m-0 left-0 top-0" id="contrat{{ contrat.getNumContrat() }}">
                            <div class="w-full h-full bg-gray-300 bg-opacity-50 flex flex-col justify-center">
                                <div class="py-3 min-w-1/2 sm:mx-auto">
                                    <div class="bg-white min-w-1xl flex flex-col rounded-md shadow-lg p-5">
                                        <div class="ml-10 px-12 py-5">
                                            <h2 class="text-gray-800 text-3xl font-semibold">Contrat n°{{ contrat.getNumContrat() }}</h2>
                                        </div>
                                        <div class="ml-10 flex space-x-2 text-sm my-1">

                                            {% if contrat.getStatus() == '1' %}
                                                <i class="fas fa-info-circle dtp text-gray-400"></i><p class="list-status text-gray-400 uppercase">En attente client</p>
                                            {% elseif contrat.getStatus() == '2' %}
                                                <i class="fas fa-info-circle dtp text-yellow-400"></i><p class="list-status text-yellow-400 uppercase">En attente back-office</p>
                                            {% elseif contrat.getStatus() == '3' %}
                                                <i class="fas fa-info-circle dtp text-green-600"></i><p class="list-status text-green-600 uppercase">Validé</p>
                                            {% elseif contrat.getStatus() == '4' %}
                                                <i class="fas fa-info-circle dtp text-red-600"></i><p class="list-status text-red-600 uppercase">Rétracté</p>
                                            {% elseif contrat.getStatus() == '5' %}
                                                <i class="fas fa-info-circle dtp text-red-600"></i><p class="list-status text-red-600 uppercase">Injoignable</p>
                                            {% elseif contrat.getStatus() == '6' %}
                                                <i class="fas fa-info-circle dtp text-red-600"></i><p class="list-status text-red-600 uppercase">Impayé</p>
                                            {% else %}
                                                <i class="fas fa-info-circle dtp text-red-900"></i><p class="list-status text-red-900 uppercase">Erreur</p>
                                            {% endif %}
                                        </div>
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="far fa-calendar-alt dtp"></i>
                                            <p>Fait le {{ contrat.getCreated() }}</p>
                                        </div>
                                        <div class="h-0.5 bg-gray-300 w-1/2 mx-auto my-5"></div>
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="fas fa-user dtp"></i>
                                            <p>{% if contrat.getInfoClient()['gender'] == 'F' %}
                                                    Mme
                                                {% else %}
                                                    M.
                                                {% endif %} {{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}</p>
                                        </div>
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="fas fa-calendar-day dtp"></i>
                                            <p>Né{% if contrat.getInfoClient()['gender'] == 'F' %}e{% endif%} le {{ contrat.getInfoClient()['birthdate'] }}</p>
                                        </div>
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="fas fa-map-marker-alt dtp"></i>
                                            <p>{{ contrat.getInfoClient()['address'] }}</p>
                                        </div>
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="fas fa-envelope dtp2"></i>
                                            <p>{{ contrat.getInfoClient()['zipcode'] }} {{ contrat.getInfoClient()['city'] }}</p>
                                        </div>
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="far fa-flag dtp2"></i>
                                            <p>{{ contrat.getInfoClient()['country'] }}</p>
                                        </div>
                                        {% if contrat.getInfoClient()['phone'] %}
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="fas fa-phone dtp"></i>
                                            <a class="hover:text-yellow-500" href="tel:{{ contrat.getInfoClient()['phone'] }}">{{ contrat.getInfoClient()['phone'] }}</a>
                                        </div>
                                        {% endif %}
                                        {% if contrat.getInfoClient()['mobile'] %}
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="fas fa-mobile-alt dtp"></i>
                                            <a class="hover:text-yellow-500" href="tel:{{ contrat.getInfoClient()['mobile'] }}">{{ contrat.getInfoClient()['mobile'] }}</a>
                                        </div>
                                        {% endif %}
                                        <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                            <i class="fas fa-at dtp"></i>
                                            <a class="hover:text-yellow-500" href="mailto:{{ contrat.getInfoClient()['mail'] }}">{{ contrat.getInfoClient()['mail'] }}</a>
                                        </div>
                                        <div class="h-0.5 bg-gray-300 w-1/2 mx-auto my-5"></div>
                                        <div class="h-20 flex items-center justify-center">
                                            <a href="#" class="back-button py-2 px-10 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">Retour</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="pagination w-full flex flex-wrap justify-center items-center"></ul>
            </div>


            {% else %}
                <div class="justify-center flex-col items-center flex mt-80">
                    <i class="fas fa-file-signature fa-7x mb-4 text-yellow-500"></i>
                    <h2 class="text-center text-gray-900 font-bold text-2xl">Vous n'avez encore réalisé aucun contrat.</h2>
                </div>
            {% endif %}
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script>
        let button_details = document.querySelectorAll('.detail_button')

        button_details.forEach((button)=>{
            button.addEventListener('click',(e)=>{
                let numcont = e.target.getAttribute('data-value')
                document.getElementById(numcont).style.display = 'block'
                document.querySelectorAll('.back-button').forEach(back=>{
                    back.addEventListener('click',(e)=> {
                        document.getElementById(numcont).style.display = 'none'
                    })
                })
            })
        })

        var options = {
            valueNames: [
                'list-nom',
                'list-status',
                'list-numcontrat',
                {name: 'list-datecontrat', attr: 'data-timestamp'}
            ],
            page: 15,
            pagination: true
        };
        var contratsList = new List('contrats-list', options);
    </script>

{% endblock %}
