{% extends 'base.html.twig' %}

{% block title %}Vérification | Stark Industries{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div class="bg-gray-100 p-6 relative md:ml-64 flex-1 h-screen flex justify-center items-center flex-col">
        <h1 class="text-gray-900 text-3xl font-extrabold tracking-tight mt-2">Vérification par SMS</h1>
        <div class="mt-6 text-red-500">
            {{ form_errors(form) }}
        </div>
        <div class="w-56 flex-col flex justify-center items-center space-y-8 mt-12">
            {{ form_start(form) }}
                {{ form_row(form.secure_code) }}
                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        new Cleave('.secure_code_input', {
            blocks: [1, 1, 1, 1, 1, 1],
            delimiterLazyShow: true,
            numericOnly: true,
            swapHiddenInput:true
        });
    </script>
{% endblock %}


