{% extends 'base.html.twig' %}

{% block title %}Nouveau contrat | Stark Industries{% endblock %}


{% block body %}
    <div class="container p-6 bg-gray-100">
        <h1 class="order-1 text-gray-900 text-3xl font-extrabold tracking-tight mt-2">Nouveau contrat</h1>
            {{ form_start (form,{ 'attr': {'id': 'newContrat'} }) }}

            <div class="container bg-white shadow overflow-hidden sm:rounded-md my-5 p-10">
                <h2 class="text-lg font-medium leading-6 text-gray-900 mb-10">ADHÉRENT</h2>
                <div class="grid grid-cols-10 gap-10">

                    <div class="col-span-1">
                        {{ form_label(form.gender, 'Genre', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.gender, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-3">
                        {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-3">
                        {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.firstname, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="grid grid-cols-6 gap-10 col-span-8">
                        <div class="col-span-1">
                        {{ form_label(form.birthday.day, 'Jour', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.birthday.day, {'attr': {'class': 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                        </div>
                        <div class="col-span-1">
                        {{ form_label(form.birthday.month, 'Mois', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.birthday.month, {'attr': {'class': 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                        </div>
                        <div class="col-span-1">
                        {{ form_label(form.birthday.year, 'Année', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.birthday.year, {'attr': {'class': 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'}}) }}
                        </div>
                    </div>

                    <div class="col-span-10 py-5">
                        <div class="border-t border-gray-200"></div>
                    </div>

                    <div class="col-span-3">
                        {{ form_label(form.address, 'Adresse', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.address, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-3">
                        {{ form_label(form.city, 'Ville', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.city, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-2">
                        {{ form_label(form.zipcode, 'Code postal', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.zipcode, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-2">
                        {{ form_label(form.country, 'Pays', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.country, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-3">
                        {{ form_label(form.phone, 'Téléphone', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.phone, {'attr': {'class': 'mobile2 phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-3">
                        {{ form_label(form.mobile, 'Mobile', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.mobile, {'attr': {'class': 'mobile phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-4">
                        {{ form_label(form.mail, 'Mail', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.mail, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>
                </div>

                <h2 class="text-lg font-medium leading-6 text-gray-900 my-10">MANDAT DE PRÉLÉVEMENT</h2>

                <div class="grid grid-cols-6 gap-6">

                    <div class="col-span-4">
                        {{ form_label(form.iban, 'IBAN', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.iban, {'attr': {'class': 'iban phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>

                    <div class="col-span-3">
                        {{ form_label(form.bic, 'BIC', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.bic, {'attr': {'class': 'bic phone w-full py-2 px-3 placeholder-gray-500 rounded-md border border-solid border-gray-300 focus:border-purple-800 outline-none my-3'}}) }}
                    </div>
                </div>

            </div>

            <div class="px-4 py-3 text-right sm:px-6">
                {{ form_widget(form.save, {'attr': {'class':'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500'}}) }}
            </div>


            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>

    <script>
        var cleaveIban = new Cleave('.iban', {
            blocks: [4, 4, 4, 4, 4, 4, 3],
            uppercase: true
        });

        var cleavePhone = new Cleave('.mobile2', {
            blocks: [2, 2, 2, 2, 2],
            numericOnly: true,
        });
        var cleaveMobile = new Cleave('.mobile', {
            blocks: [2, 2, 2, 2, 2],
            numericOnly: true,
        });
        var cleaveBic = new Cleave('.bic', {
            blocks: [11],
            numericOnly: true,
        });
    </script>
{% endblock %}


