{% extends 'base.html.twig' %}

{% block title %}Nouveau contrat | Stark Industries{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js" integrity="sha512-KaIyHb30iXTXfGyI9cyKFUIRSSuekJt6/vqXtyQKhQP6ozZEGY8nOtRS6fExqE4+RbYHus2yGyYg1BrqxzV6YA==" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
    <div class="bg-gray-100 p-6 relative md:ml-64">
        <h1 class="order-1 text-gray-900 text-3xl font-extrabold tracking-tight mt-2">Nouveau contrat</h1>
            {{ form_start (form,{ 'attr': {'id': 'newContrat','autocomplete':'off'} }) }}

            <div class="container bg-white shadow overflow-hidden sm:rounded-sm my-5 p-10">
                {% if form_errors(form) %}
                    <div class="text-red-500 mb-6 text-xl">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
                <h2 class="text-lg font-medium leading-6 text-gray-900 mb-10">ADHÉRENT</h2>
                <div class="grid md:grid-cols-10 md:gap-10 grid-cols-1 gap-2">

                    <div class="2l:col-span-1 lg:col-span-2 col-span-1">
                        {{ form_label(form.gender, 'Genre', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.gender, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.lastname, 'Nom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.firstname, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="grid md:grid-cols-6 md:gap-10 md:col-span-8 col-span-1 grid-cols-1 gap-2 relative">
                        <label class="md:absolute md:-top-7 block text-sm font-medium text-gray-700">Date de naissance</label>
                        <div class="md:col-span-1 col-span-1">
{#                        {{ form_label(form.birthday.day, 'Jour', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}#}
                        {{ form_widget(form.birthday.day, {'attr': {'class': 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm'}}) }}
                        </div>
                        <div class="md:col-span-1 col-span-1">
{#                        {{ form_label(form.birthday.month, 'Mois', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}#}
                        {{ form_widget(form.birthday.month, {'attr': {'class': 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm'}}) }}
                        </div>
                        <div class="md:col-span-1 col-span-1">
{#                        {{ form_label(form.birthday.year, 'Année', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}#}
                        {{ form_widget(form.birthday.year, {'attr': {'class': 'mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-sm shadow-sm focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm'}}) }}
                        </div>
                    </div>

                    <div class="col-span-1 md:col-span-10 py-5">
                        <div class="border-t border-gray-200"></div>
                    </div>

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.address, 'Adresse', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.address, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.city, 'Ville', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.city, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-2 col-span-1">
                        {{ form_label(form.zipcode, 'Code postal', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.zipcode, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-2 col-span-1">
                        {{ form_label(form.country, 'Pays', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.country, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.phone, 'Téléphone', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.phone, {'attr': {'class': 'mobile2 phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.mobile, 'Mobile', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.mobile, {'attr': {'class': 'mobile phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-4 col-span-1">
                        {{ form_label(form.mail, 'Mail', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.mail, {'attr': {'class': 'phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>
                </div>

                <h2 class="text-lg font-medium leading-6 text-gray-900 my-10">MANDAT DE PRÉLÉVEMENT</h2>

                <div class="grid md:grid-cols-6 md:gap-6 grid-cols-1 gap-2">

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.iban, 'IBAN', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.iban, {'attr': {'class': 'iban phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>

                    <div class="md:col-span-3 col-span-1">
                        {{ form_label(form.bic, 'BIC', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
                        {{ form_widget(form.bic, {'attr': {'class': 'bic phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none my-3'}}) }}
                    </div>
                </div>

            </div>

            <div class="text-center md:text-right w-full md:w-auto">
                {{ form_widget(form.save, {'attr': {'class':'w-full md:w-auto md:px-10 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-sm text-white bg-yellow-500 hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500'}}) }}
            </div>
         {{ form_end(form) }}
        </div>

    <script>
        var cleaveIban = new Cleave('.iban', {
            blocks: [4, 4, 4, 4, 4, 4, 3],
            uppercase: true,
        });

        var cleavePhone = new Cleave('.mobile2', {
            blocks: [2, 2, 2, 2, 2],
            numericOnly: true,
        });
        var cleaveMobile = new Cleave('.mobile', {
            blocks: [2, 2, 2, 2, 2],
            numericOnly: true,
        });
        var cleaveBic = new Cleave('.bic', {
            blocks: [11],
            uppercase: true,
        });
    </script>
{% endblock %}


