<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{{ absolute_url(asset('assets/images/favicon.png')) }}" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Bon de souscription</title>
    <link rel="stylesheet" href="{{ absolute_url(asset("build/style.css")) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <style>
        *{
            border: none!important;
        }
        #main{
            width: 210mm;
            height: 340mm;
            background: white;
            margin: 0 auto 15mm auto;
            position: relative;
        }
        #main2{
            width: 248mm;
            height: 345mm;
            background: white;
            margin: auto auto;
            position: relative;
        }
        .black{
            background: black;
        }
        .gray{
            background: whitesmoke;
        }
        tr i{
            margin: 5px 10px 5px 20px;
        }
    </style>
</head>
    <body class="bg-gray-500">
        <div id="main">
            <img class="w-1/4 mx-auto" src="{{ absolute_url(asset("assets/images/logo_stark_full.png")) }}">
            <h1 class="text-2xl font-bold mx-auto text-center uppercase mb-5">Votre habitation protégée toute l'année</h1>
            <table id="header" class="border-none gray p-5 h-14 w-full font-bold">
                <tbody class="border-none w-full">
                    <td class="border-none w-1/3 text-center">Distributeur : {{ contrat.getSalesman().getDistributor() }}</td>
                    <td class="border-none w-1/3 text-center">Conseiller : {{ contrat.getSalesman().getFirstname() }} {{ contrat.getSalesman().getName() }}</td>
                    <td class="border-none w-1/3 text-center">Code : {{ contrat.getSalesman().getMatricule() }}</td>
                </tbody>
            </table>

            <table class="border-none gray p-5 my-5 w-full">
                <td class="w-2/4">
                    <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Adhérent</h3>
                    <table class="border-none mb-5 p-5 w-full">
                        <tbody class="border-none w-full">
                        <tr class="h-8">
                            <td><i class="fas fa-user dtp"></i></td>
                            <td> {% if contrat.getInfoClient()['gender'] == 'F' %}
                                    Mme
                                {% else %}
                                    M.
                                {% endif %}
                                {{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}
                            </td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-calendar-day dtp"></i></td>
                            <td>Né{% if contrat.getInfoClient()['gender'] == 'F' %}e{% endif%} le {{ contrat.getInfoClient()['birthdate'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-map-marker-alt dtp"></i></td>
                            <td>{{ contrat.getInfoClient()['address'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-envelope dtp2"></i></td>
                            <td>{{ contrat.getInfoClient()['zipcode'] }} {{ contrat.getInfoClient()['city'] }}, {{ contrat.getInfoClient()['country'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-mobile-alt dtp"></i></td>
                            <td>{{ contrat.getInfoClient()['mobile'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-phone dtp"></i></td>
                            <td>
                                {% if contrat.getInfoClient()['phone'] %}
                                    {{ contrat.getInfoClient()['phone'] }}<br>
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-at dtp"></i></td>
                            <td>{{ contrat.getInfoClient()['mail'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td class="w-2/4">
                    <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Votre garantie</h3>
                    <table class="border-none mb-5 p-5 w-full">
                        <tbody class="border-none w-full">
                        <tr class="h-8">
                            <td class="w-1/6"><i class="fas fa-bolt dtp"></i></td>
                            <td class="uppercase">électricité</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-faucet dtp"></i></td>
                            <td class="uppercase">Plomberie</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"><i class="fas fa-burn dtp"></i></td>
                            <td class="uppercase">Gaz</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="uppercase"></td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="w-full uppercase">Pack assistance / cotisation</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="w-full uppercase">9,99 € TTC par mois</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="uppercase"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </table>

            <table class="border-none gray p-5 mb-5 w-full">
                    <h3 class="uppercase w-full text-center font-bold text-2xl my-7"> Déclaration de l'adhérent{% if contrat.getInfoClient()['gender'] == 'F' %}e{% endif%}</h3>
                        <tbody class="border-none w-full">
                        <tr>
                            <p class="w-4/4 text-justify text-center m-auto">
                                {% if contrat.status >= 2 %}
                                    <i class="fas fa-check-square"></i>
                                {% else %}
                                    <i class="far fa-square"></i>
                                {% endif %} Je choisis d’adhérer à l’Assistance électricité, gaz, plomberie présentée et souscrite par Stark Industries moyennant une cotisation mensuelle de
                                9,99 € payable dès la souscription du contrat, puis à chaque échéance secondaire mensuelle, et je déclare avoir reçu et pris connaissance, accepté et
                                conservé les conditions générales de vente valant notice d’information indiqués au dos du présent contrat.<br>
                            </p>
                        </tr>
                        <tr class="text-center w-full ">
                            <td>
                                <p class="w-full text-center my-3">Fait à {{ contrat.getInfoClient()['city'] }} le {{ contrat.getCreated() }}</p>
                            </td>
                            <td>
                                <p class="w-full text-center my-3" style="font-family: 'Dawning of a New Day', cursive; font-size: 32px;">{{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}</p>
                            </td>
                        </tr>
                        <tr>
                            <p class="text-xs text-justify font-italic m-auto w-4/4">L’adhésion démarre à la date d’effet du présent bulletin d’adhésion à Stark Industries, qui est la date de votre accord, sous réserve du paiement de la cotisation. Elle dure un an et se renouvelle tacitement à chaque échéance annuelle.</p>
                        </tr>
                        </tbody>
            </table>

{#            <div class="h-1 gray w-3/4 m-auto my-5"></div>#}

            <table class="border-none gray p-5 my-5 w-full">
                <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Mandat de prélèvement SEPA</h3>
                <tbody class="border-none w-full">
                <tr>
                    <p class="text-sm text-justify font-italic m-auto w-4/4">
                        En signant ce formulaire de mandat, vous autorisez Stark Industries à envoyer de sinstructions à votre banque pour débiter votre compte, et votre banque à débiter votre compte conformément aux instructions Stark Industries.
                        Vous bénéficiez du droit d’être remboursé par votre banque selon les conditions décrites dans la convention que vous avez passée avec passée avec elle. Une demande de remboursement doit être présentée dans les 8 semaines suivant la date de débit de votre compte pour un prélèvement autorisé.
                    </p>
                </tr>
                <tr class="w-full">
                    <td class="align-top">
                        <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Débiteur</h3>
                        <table class="border-none mb-5 p-5 w-full">
                            <tbody class="border-none w-full mb-5">
                            <tr class="h-8 pl-6">
                                <td class="pl-6">{{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">{{ contrat.getInfoClient()['address'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">{{ contrat.getInfoClient()['zipcode'] }} {{ contrat.getInfoClient()['city'] }}, {{ contrat.getInfoClient()['country'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">IBAN : {{ contrat.getInfoPrelevement()['iban'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">BIC : {{ contrat.getInfoPrelevement()['bic'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">Paiement récurrent le 5 de chaque mois</td>
                            </tr>
                            <tr class="h-8 pl-6">
                               <td class="pl-6">A {{ contrat.getInfoClient()['city'] }} le {{ contrat.getCreated() }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="mb-5 align-top">
                        <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Créancier</h3>
                        <table class="border-none mb-5 p-5 w-full">
                            <tbody class="border-none w-full mb-5">
                            <tr class="h-8 pl-6">
                                <td class="pl-6">Stark Industries</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">66 Avenue des Champs-Élysées - CS 40152</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">75008 PARIS, France</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">Identifiant ICS : FR31ZZZ86E5CE</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">N° de Contrat et RUM : {{ contrat.getNumContrat() }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>

        <div id="main2">
            <h1 class="text-2xl font-bold mx-auto text-center uppercase mb-5">CONDITIONS GENERALES DE VENTE</h1>
            <table class="border-none p-5 my-5 w-full">
                <tr>
                    <td class="w-1/3 text-justify text-xs h-full align-top p-1">
                        <h3 class="font-bold text-md underline">1.- OBJET DU CONTRAT</h3>
                        Les présentes Conditions Générales de vente
                        s’appliquent, sans restriction ni réserve à tout
                        client souscrivant à une offre proposée par la
                        société STARK INDUSTRIES immatriculé au RCS
                        de Paris sous le numéro 883 881 633, dont le
                        siège social est situé 66 avenue de Champs
                        Élysées (75008) PARIS.
                        <h3 class="font-bold text-md underline">2.- PRISE D’EFFET ET DUREE DU CONTRAT</h3>
                        Le contrat prend effet à la date de signature
                        du contrat. Il est établi pour la durée d’un an
                        et se renouvelle à chaque échéance annuelle
                        (anniversaire de la date d’effet) par tacite
                        reconduction.
                        <h3 class="font-bold text-md underline">3.- OFFRE DES GARANTIES</h3>
                        STARK INDUSTRIES propose à ses clients trois
                        différents packs d’assistance :
                        <h4 class="text-md underline"><span class="font-bold">3.1.</span> Pack installations électriques</h4>
                        Pendant toute la durée de votre contrat,
                        nous prenons en charge, toute panne ou
                        dysfonctionnement de votre installation électrique fixe domestique en aval du disjoncteur principal, ainsi que les dépenses
                        que vous exposez pour remédier aux troubles
                        causés ou mettre en état votre installation, dans
                        la limite de 400 € TTC par année d’assurance et
                        par sinistre,
                        <br>
                        La garantie exclue :
                        <br>- les travaux de mise aux normes de tout ou
                        partie de l’installation électrique intérieure,
                        résultantde la modification de la normative en
                        matière de santé et sécurité.
                        <br>- les réparations des appareils électriques,
                        électroniques ou électroménagers.
                        <br>- les pannes d’électricité causées ou
                        provoquées manière intentionnelle par vousmême
                        ou un membre de votre famille ou avec
                        votre / sa complicité.

                        votre / sa complicité.

                        <h4 class="text-md underline"><span class="font-bold">3.2.</span> Pack installations Gaz :</h4>

                        Pendant toute la durée de votre contrat, en cas
                        de fuite de votre installation domestique de gaz
                        (en aval du compteur général d’alimentation
                        en gaz et jusqu’aux joints de raccordement
                        de vos appareils au gaz) ou en cas de panne
                        ou dysfonctionnement de votre chaudière
                        individuelle de gaz (vase d’expansion, brûleur,
                        thermostat, valve de gaz) nous prenons en
                        charge les dépenses que vous engagez pour
                        remédier aux inconvénients causés à votre
                        installation, ainsi que sa remise en état, dans la
                        limite de 300 € TTC par année d’assurance et
                        par sinistre.
                        La garantie exclue :
                        <br>
                        - Les pannes causées ou provoquées de
                        manière intentionnelle par vous-même ou un
                        membre de votre famille ou avec votre / sa
                        complicité.
                        <br>
                        - Les demandes d’intervention se rapportant à
                        une opération d’entretien de la chaudière, de
                        l’installation d’eau chaude ou de l’installation
                        de gaz.

                        <h4 class="text-md underline"><span class="font-bold">3.3.</span> Pack installations plomberie</h4>

                        Pendant toute la durée de votre contrat, en
                        cas de fuite de votre installation domestique de
                        plomberie, ou en cas de dysfonctionnement
                        de votre installation individuelle de plomberie
                        intérieure (circuits et équipements), nous
                        prenons en charge les dépenses que vous
                        exposez pour remédier aux inconvénients
                        causés à votre Installation, ainsi que sa remise
                        en état, dans la limite de 300 € TTC par année
                        d’assurance et par sinistre,
                        <br>
                        La garantie exclue :
                        <br>
                        - Les dysfonctionnements causés ou provoqués
                        de manière intentionnelle par vous-même ou
                        un membre de votre famille ou avec votre / sa
                        complicité
                        Les garanties proposées par la Société
                        STARK INDUSTRIES interviennent uniquement
                        si vos installations (électriques, de gaz, ou
                        de plomberie) sont conformes aux normes
                        réglementaires en vigueur et si elles ont été
                        réalisées dans les règles de l’art.
                    </td>
                    <td class="w-1/3 text-justify text-xs h-full align-top p-1">
                        <h3 class="font-bold text-md underline">4.- PRIX</h3>
                        En contrepartie des garanties du contrat, le
                        client s’engage à payer une cotisation de 9,99
                        € TTC payable mensuellement en parts égales
                        aux dates d’échéance convenues indiquées
                        sur le bordereau de souscription, tout en étant
                        due pour l’année entière.

                        <h3 class="font-bold text-md underline">5.- DISPOSITIONS COMMUNES AUX GARANTIES</h3>
                        <h4 class="text-md underline"><span class="font-bold">5.1.</span>Déclaration de votre sinistre</h4>

                        Le sinistre doit être survenu après la prise d’effet
                        de votre contrat.
                        Vous devez nous déclarer le sinistre pour lequel
                        vous souhaitez notre intervention dès que vous
                        en avez connaissance, elle doit s’effectuer par
                        voie postale à l’adresse : STARK INDUSTRIES - 66
                        avenue de Champs Élysées (75008) PARIS.
                        SI vous déclarez avec retard le sinistre et que ce
                        retard nous cause un préjudice, nous pouvons
                        refuser notre garantie.
                        Votre déclaration de sinistre doit préciser
                        les circonstances du sinistre, le numéro de
                        votre contrat, vos coordonnées postales et
                        téléphoniques et toutes les pièces justifiant
                        votre réclamation.
                        Toutes les actions à entreprendre dans le
                        cadre de nos garanties sont décidées d’un
                        commun accord entre vous et la Société STARK
                        INDUSTRIES. A défaut d’accord préalable, leurs
                        frais et conséquences resteront à votre charge,
                        à l’exception de mesures urgentes prises à titre
                        conservatoire.

                        <h3 class="font-bold text-md underline">6.- LA PRISE EN CHARGE</h3>

                        La prise en charge, prévues dans les packs
                        Electricité, Gaz et Plomberie, s’effectuera sous
                        présentation d'un justificatif (facture acquittée) fourni par le professionnel qualifié auquel le
                        client aura fait appel, STARK INDUSTRIES ne
                        mettant pas en relation le client avec un
                        professionnel pour l’exécution des réparations.

                        <h4 class="text-md underline"><span class="font-bold">6.1.</span>Règlement d’indemnités</h4>

                        Le règlement de vos indemnités au titre de vos
                        garanties est effectué dans le délai de 30 jours
                        qui suit la réception des pièces justificatives
                        nécessaires au paiement.

                        <h4 class="text-md underline"><span class="font-bold">6.2.</span>Territorialité des garanties</h4>

                        Les garanties ci-dessus mentionnées
                        interviendront uniquement pour les sinistres
                        survenus en France métropolitaine.

                        <h3 class="font-bold text-md underline">7.- MODIFICATION DE VOS DONNEES</h3>

                        Toute modification significative concernant
                        la souscription (telle que les changements de
                        NOM ou de RIB), doit être déclarée à la société
                        STARK INDUSTRIES par lettre recommandée
                        avec avis de réception, par voie postal à
                        l’adresse suivante : 66 avenue de Champs
                        Élysées (75008) PARIS.
                        <h3 class="font-bold text-md underline">8.- RESILIATION ET CLAUSE RESOLUTOIRE</h3>
                        <span class="font-bold">8.1.</span>
                        Vous pouvez résilier votre contrat à chaque
                        échéance annuelle, en respectant un préavis
                        de deux mois avant la date anniversaire
                        de reconduction de votre contrat, en nous
                        adressant une lettre recommandée avec
                        avis de réception à l’adresse postale : STARK
                        INDUSTRIES - 66 avenue de Champs Élysées
                        (75008) PARIS.
                        <br><span class="font-bold">8.2.</span>
                        La société STARK INDUSTRIES se réserve
                        le droit de résilier votre contrat à chaque
                        échéance annuelle, par lettre recommandée
                        avec avis de réception adressée à votre
                        dernier domicile connu, en respectant un
                        préavis de deux mois.
                        <br><span class="font-bold">8.3.</span>
                        Nous pouvons également résilier votre
                        contrat dans les cas suivants :
                        En cas de non-paiement des cotisations, à
                        l’échéance, et indépendamment de notre
                        droit de poursuivre l’exécution du présent
                        contrat en justice, les garanties de votre
                        contrat sont suspendues après envoi d’une
                        lettre recommandée de mise en demeure
                        à votre dernier domicile connu, resté sans
                        réponse de votre part dans les 30 jours suivant
                        l’expédition dudit courrier.
                        Nous pouvons aussi résilier votre contrat, si nous
                    </td>
                    <td class="w-1/3 text-justify text-xs h-full align-top p-1">

                        sommes ensuite sans réponse de votre part
                        dix jours après l’expiration du délai susvisé de
                        trente jours.
                        En cas d’omission ou d’inexactitude dans la
                        déclaration du risque que vous avez faite,
                        constaté à l’occasion de la survenance
                        d’un sinistre, les garanties ne seront pas
                        accordées et STARK INDUSTRIES pourra mettre fin immédiatement au contrat par
                        lettre recommandée avec avis de réception
                        adressé à votre dernier domicile connu. Toutes
                        les cotisations réglées restent acquises à STARK
                        INDUSTRIES.

                        <h3 class="font-bold text-md underline">9.- DELAI DE RETRACTATION</h3>

                        Le client dispose d’un délai de 14 jours pour
                        exercer son droit de rétractation en vertu
                        de l’article Article L 221-18 du Code de la
                        consommation : « Le consommateur dispose
                        d’un délai de quatorze jours pour exercer
                        son droit de rétractation d’un contrat conclu
                        à distance, à la suite d’un démarchage
                        téléphonique ou hors établissement, sans avoir
                        à motiver sa décision ni à supporter d’autres
                        coûts que ceux prévus aux articles L. 221-23 à
                        L. 221-25 ». Le délai mentionné court à compter
                        du jour de la conclusion du contrat.

                        <h3 class="font-bold text-md underline">10.- RECLAMATION ET MEDIATION</h3>

                        Une réclamation est une déclaration
                        contenant le mécontentement d’un client
                        envers un professionnel. Celle-ci peut
                        concerner le contrat, sa distribution ou le
                        traitement d’un dossier. Si vous avez une
                        réclamation à formuler, vous pouvez nous
                        contacter à l’adresse suivante : STARK
                        INDUSTRIES - 66
                        FRANCE.
                        avenue des Champs
                        Élysées - CS 40152 75008 -Paris, France
                        Élysées
                        Nous accuserons réception de
                        , o u par
                        ma i l :
                        contact@groupestark-industries.fr
                        votre réclamation sous dix jours et étudierons votre demande afin de résoudre votre
                        insatisfaction. Nous nous engageons à vous
                        tenir informé du déroulement du traitement
                        de votre réclamation. Vous recevrez, sauf
                        exception, une réponse au plus tard dans les
                        deux mois qui suivent la réception de votre
                        réclamation.
                        En cas d’échec de cette démarche, vous
                        conservez naturellement la faculté d’agir en
                        justice.

                        <h3 class="font-bold text-md underline">11.- LOI INFORMATIQUE ET LIBERTE</h3>

                        Les données collectées par STARK INDUSTRIES,
                        responsable de traitement, sont nécessaires
                        à la gestion ainsi qu’à l’exécution du contrat
                        souscrit. Elles sont conservées pendant toute la
                        durée nécessaire à l’exécution des prestations
                        délivrées.
                        À ces fins, des données sont susceptibles
                        de faire l’objet de transferts hors de l’Union
                        Européenne. Ces transferts sont encadrés par
                        des règles de protection et de sécurité des
                        données.
                        Pour mesurer et améliorer notre qualité de
                        service, vos échanges de courriers, télécopies,
                        courriels et conversations téléphoniques avec
                        notre société sont susceptibles d’être analysés
                        et enregistrés et à cette fin, de faire l'objets
                        de traitements informatiques pour lesquels
                        des données vous concernant ne peuvent
                        être communiquées qu’à STARK INDUSTRIES.
                        Conformément à la loi informatique et Libertés
                        n°78-17 du 6 janvier 1978 modifiée et au
                        Règlement Européen, sur la protection des
                        données n°016/679, vous bénéficiez d'unn
                        droit d’accès, de limitation des traitements,
                        d’opposition pour motif légitime, de
                        réctification, d'éffacement, de suppression
                        de Vos données à caractère personnel.
                        Vous possédez un droit à la portabilité de
                        vos données et un droit d’organiser le sort de
                        vos données post-mortem. Pour exercer ce
                        droit, Vous pouvez nous adresser un courrier
                        accompagné d’une pièce d’identité rectoverso
                        à STARK INDUSTRIES - 66 avenue de
                        Champs Élysées (75008) PARIS.
                    </td>
                </tr>
            </table>
            <table class="border-none gray p-5 mt-3 w-full ">
                <tr>
                    <div class="h-1 black w-3/4 m-auto mb-3"></div>
                    <h3 class="font-bold text-md w-full text-center">FORMULAIRE DE RETRACTATION</h3>
                </tr>
                <tr class="text-xs">
                    <td class="w-3/5 text-justify pr-1">
                        Je sousigné(e), notifie par la présente ma rétraction du contrat portant sur la garantie ci-dessous. Conditions : à renvoyer au plus tard 14 jours
                        calendaires révolus après la conclusion du contrat par lettre recommandé
                        avec accusé de reception à STARK INDUSTRIES - 66 avenue des Champs
                        Élysées - CS 40152 75008 - PARIS-FRANCE. Cette rétractation n’est valable
                        que si elle est adressée dans le délai mentionné ci-dessus, lisiblement,
                        parfaitement remplie et signée.
                    </td>
                    <td class="w-2/5 pl-1">
                        Nom : .................... Prénom : ....................
                        <br> Adresse : ........................................
                        <br>
                        Code postal : ............... Ville : ...............
                        <br>
                        Nom du pack installation concerné: ..............
                        <br>
                        Date de souscription : ...... / ...... / ......
                        <br>
                        Date : ...... / ...... / ...... Signature du client : ...............
                    </td>
                </tr>
            </table>

        </div>
    </body>
</html>