<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="{{ absolute_url(asset('assets/images/favicon.png')) }}" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Bon de souscription</title>
    <link rel="stylesheet" href="{{ absolute_url(asset("build/pdf_export.css")) }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');
        *{
            border: none!important;
        }
        #main{
            width: 210mm;
            height: 340mm;
            background: white;
            margin: auto auto;
            position: relative;
        }
        #main2{
            width: 210mm;
            height: 340mm;
            background: white;
            margin: auto auto;
            position: relative;
        }
        .black{
            background: black;
        }
        .gray{
            background: whitesmoke;
        }
        tr i{
            margin: 5px 10px 5px 20px;
        }
    </style>
</head>
    <body class="bg-gray-500">
        <div id="main">
            <img class="w-1/4 mx-auto" src="{{ absolute_url(asset("assets/images/logo_stark_full.png")) }}">
            <h1 class="text-2xl font-bold mx-auto text-center uppercase mb-5">Votre habitation protégée toute l'année</h1>
            <table id="header" class="border-none gray p-5 h-14 w-full font-bold">
                <tbody class="border-none w-full">
                    <td class="border-none w-1/3 text-center">Distributeur : {{ contrat.getSalesman().getDistributor() }}</td>
                    <td class="border-none w-1/3 text-center">Conseiller : {{ contrat.getSalesman().getFirstname() }} {{ contrat.getSalesman().getName() }}</td>
                    <td class="border-none w-1/3 text-center">Code : {{ contrat.getSalesman().getMatricule() }}</td>
                </tbody>
            </table>

            <table class="border-none gray p-5 my-5 w-full">
                <td class="w-2/4">
                    <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Adhérent</h3>
                    <table class="border-none mb-5 p-5 w-full">
                        <tbody class="border-none w-full">
                        <tr class="h-8">
                            <td><i class="fas fa-user dtp"></i></td>
                            <td> {% if contrat.getInfoClient()['gender'] == 'F' %}
                                    Mme
                                {% else %}
                                    M.
                                {% endif %}
                                {{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}
                            </td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-calendar-day dtp"></i></td>
                            <td>Né{% if contrat.getInfoClient()['gender'] == 'F' %}e{% endif%} le {{ contrat.getInfoClient()['birthdate'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-map-marker-alt dtp"></i></td>
                            <td>{{ contrat.getInfoClient()['address'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-envelope dtp2"></i></td>
                            <td>{{ contrat.getInfoClient()['zipcode'] }} {{ contrat.getInfoClient()['city'] }}, {{ contrat.getInfoClient()['country'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-mobile-alt dtp"></i></td>
                            <td>{{ contrat.getInfoClient()['mobile'] }}</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-phone dtp"></i></td>
                            <td>
                                {% if contrat.getInfoClient()['phone'] %}
                                    {{ contrat.getInfoClient()['phone'] }}<br>
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-at dtp"></i></td>
                            <td>{{ contrat.getInfoClient()['mail'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>

                <td class="w-2/4">
                    <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Votre garantie</h3>
                    <table class="border-none mb-5 p-5 w-full">
                        <tbody class="border-none w-full">
                        <tr class="h-8">
                            <td class="w-1/6"><i class="fas fa-bolt dtp"></i></td>
                            <td class="uppercase">électricité</td>
                        </tr>
                        <tr class="h-8">
                            <td><i class="fas fa-faucet dtp"></i></td>
                            <td class="uppercase">Plomberie</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"><i class="fas fa-burn dtp"></i></td>
                            <td class="uppercase">Gaz</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="uppercase"></td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="w-full uppercase">Pack assistance / cotisation</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="w-full uppercase">9,99 € TTC par mois</td>
                        </tr>
                        <tr class="h-8">
                            <td class="w-1/6"></td>
                            <td class="uppercase"></td>
                        </tr>


                        </tbody>
                    </table>
                </td>
            </table>

            <table class="border-none gray p-5 mb-5 w-full">
                    <h3 class="uppercase w-full text-center font-bold text-2xl my-7"> Déclaration de l'adhérent{% if contrat.getInfoClient()['gender'] == 'F' %}e{% endif%}</h3>
                        <tbody class="border-none w-full">
                        <tr>
                            <p class="w-4/4 text-justify text-center m-auto">
                                {% if contrat.status >= 2 %}
                                    <i class="fas fa-check-square"></i>
                                {% else %}
                                    <i class="far fa-square"></i>
                                {% endif %} Je choisis d’adhérer à l’Assistance électricité, gaz, plomberie présentée et souscrite par Stark Industries moyennant une cotisation mensuelle de
                                9,99 € payable dès la souscription du contrat, puis à chaque échéance secondaire mensuelle, et je déclare avoir reçu et pris connaissance, accepté et
                                conservé les conditions générales de vente valant notice d’information indiqués au dos du présent contrat.<br>
                            </p>
                        </tr>
                        <tr class="text-center w-full ">
                            <p class="w-full text-center my-3">Fait à {{ contrat.getInfoClient()['city'] }} le {{ contrat.getCreated() }}</p>
                            <p class="w-full text-center my-3" style="font-family: 'Dawning of a New Day', cursive; font-size: 32px;">{{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}</p>
                        </tr>
                        <tr>
                            <p class="text-xs text-justify font-italic m-auto w-4/4">L’adhésion démarre à la date d’effet du présent bulletin d’adhésion à Stark Industries, qui est la date de votre accord, sous réserve du paiement de la cotisation. Elle dure un an et se renouvelle tacitement à chaque échéance annuelle.</p>
                        </tr>
                        </tbody>
            </table>

{#            <div class="h-1 gray w-3/4 m-auto my-5"></div>#}

            <table class="border-none gray p-5 my-5 w-full">
                <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Mandat de prélèvement SEPA</h3>
                <tbody class="border-none w-full">
                <tr>
                    <p class="text-sm text-justify font-italic m-auto w-4/4">
                        En signant ce formulaire de mandat, vous autorisez Stark Industries à envoyer de sinstructions à votre banque pour débiter votre compte, et votre banque à débiter votre compte conformément aux instructions Stark Industries.
                        Vous bénéficiez du droit d’être remboursé par votre banque selon les conditions décrites dans la convention que vous avez passée avec passée avec elle. Une demande de remboursement doit être présentée dans les 8 semaines suivant la date de débit de votre compte pour un prélèvement autorisé.
                    </p>
                </tr>
                <tr class="w-full">
                    <td>
                        <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Débiteur</h3>
                        <table class="border-none mb-5 p-5 w-full">
                            <tbody class="border-none w-full mb-5">
                            <tr class="h-8 pl-6">
                                <td class="pl-6">{{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">{{ contrat.getInfoClient()['address'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">IBAN : {{ contrat.getInfoPrelevement()['iban'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">BIC : {{ contrat.getInfoPrelevement()['bic'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">Paiement récurrent le 5 de chaque mois</td>
                            </tr>
                            <tr class="h-8 pl-6">
                               <td class="pl-6">A Troyes le {{ contrat.getCreated() }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td class="mb-5">
                        <h3 class="uppercase w-full text-center font-bold text-2xl my-5">Créancier</h3>
                        <table class="border-none mb-5 p-5 w-full">
                            <tbody class="border-none w-full mb-5">
                            <tr class="h-8 pl-6">
                                <td class="pl-6">Stark Industries</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">66 Avenue des Champs-Élysées - CS 40152</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">{{ contrat.getInfoClient()['zipcode'] }} {{ contrat.getInfoClient()['city'] }}, {{ contrat.getInfoClient()['country'] }}</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">75008 PARIS, France</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">Identifiant ICS : FR31ZZZ86E5CE</td>
                            </tr>
                            <tr class="h-8 pl-6">
                                <td class="pl-6">N° de Contrat et RUM : {{ contrat.getNumContrat() }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </body>
</html>