{% extends 'base.html.twig' %}

{% block title %}Back-Office - Stark Industries{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/contratlisting_style.css") }}">
{% endblock %}
{% block body %}

    <div class="bg-gray-100 p-6 relative md:ml-64 min-h-screen overflow-x-hidden">
        <h1 class="order-1 text-gray-900 text-3xl font-extrabold tracking-tight">Contrats</h1>
        {% if contrats is not empty %}


            <div id="contrats-list" class="grid grid-cols-1 gap-6">
                <div class="search-forms w-full grid grid-cols-1 grid-rows-2">
                    <!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
                    <div class="row-start-2 grid grid-cols-2 grid-rows-2">
                        <p class="row-start-1">Trier par :</p>
                        <div class="row-start-2 flex justify-between md:justify-start">
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-numcontrat">Contrat</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-status">Statut</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-order="desc" data-sort="list-datecontrat">Date</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-nom">Nom</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-salesman">Commercial</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-sort="list-distributeur">Distributeur</button>
                            <button class="sort py-2 px-4 md:mr-5 border border-transparent text-sm font-bold rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-order="desc" data-sort="list-doublon">Doublons</button>
                        </div>
                        <div class="row-start-2 col-start-2 flex justify-between md:justify-end">
                            <div class="relative inline-block text-left">
                                <div>
                                    <button type="button" class="inline-flex justify-center w-full rounded-sm border border-none shadow-sm px-4 py-2 bg-green-500 text-sm font-medium text-white hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-100 focus:ring-green-500" id="export-selection-button" aria-expanded="false" aria-haspopup="true">
                                        Exportation
                                        <!-- Heroicon name: solid/chevron-down -->
                                        <svg style="pointer-events: none" class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>

                                <!--
                                  Dropdown menu, show/hide based on menu state.

                                  Entering: "transition ease-out duration-100"
                                    From: "transform opacity-0 scale-95"
                                    To: "transform opacity-100 scale-100"
                                  Leaving: "transition ease-in duration-75"
                                    From: "transform opacity-100 scale-100"
                                    To: "transform opacity-0 scale-95"
                                -->
                                <div class="z-10 hidden origin-top-right absolute right-0 mt-2 w-56 rounded-sm shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none" id="export-selection-menu" role="menu" aria-orientation="vertical" aria-labelledby="export-selection-button" tabindex="-1">
                                    <div class="py-1" role="none">
                                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="export-selection-item-0">Exporter la page courante</a>
                                    </div>
                                    <div class="py-1" role="none">
                                        <a href="{{ url('backoffice_export_all') }}" class="text-red-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="export-selection-item-1">Exporter toute la base</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="search row-start-1 phone w-full py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-600 outline-none my-3" placeholder="Rechercher un contrat" /><br>
                <p class="text-gray-500">Nombre de résultats : <span id="nb_contracts"></span></p>
                </div>
                <ul class="list w-full flex flex-wrap justify-around">
                    {% for contrat in contrats %}
                        <!-- 1 card -->
                        <li class="m-5">
                            <div class="contract-item relative bg-white py-6 px-6 rounded-sm w-72 my-4 shadow-lg">
                                <div>
                                    {% if contrat.getDuplicate() %}
                                        <p class="text-red-500 text-sm"><i class="fas fa-exclamation-circle list-doublon"> Contrat doublon</i></p>
                                    {% endif %}
                                    <p class="text-xl font-bold mb-2">Contrat n°<span class="list-numcontrat">{{ contrat.getNumContrat() }}</span></p>
                                    <div class="flex items-center space-x-2 text-gray-400 font-bold text-base">
{#                                        <i class="fas fa-user-tie"></i>#}
                                        <p class="list-salesman">{{ contrat.getSalesman().getFirstname() }} {{ contrat.getSalesman().getName() }} </p><span class="list-distributeur hidden">{{ contrat.getSalesman().getDistributor() }}</span>
                                    </div>
                                    <div class="h-px my-5 bg-gray-300"></div>

                                    <div>
                                    <div class="flex items-center space-x-2 text-gray-400 text-sm">
                                        <i class="fas fa-user"></i>
                                        <p>{% if contrat.getInfoClient()['gender'] == 'F' %}
                                                Mme
                                            {% else %}
                                                M.
                                            {% endif %}
                                            <span class="list-nom">{{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}</span></p>
                                    </div>
                                    <div class="flex items-center space-x-2 text-gray-400 text-sm my-3">
                                        <i class="far fa-calendar-alt"></i>
                                        <p>Fait le <span class="list-datecontrat timestamp" data-timestamp="{{ contrat.getCreated() }}">{{ contrat.getCreated() }}</span></p>
                                    </div>
                                    <div class="h-px mt-5 bg-gray-300"></div>

                                    <div>
                                        <div class="mt-2 w-full text-center">
                                            {# <p class="font-semibold text-base">Statut</p> #}
                                            <div class="my-5 text-base font-semibold uppercase">
                                                <select name="status" class="
                                                status w-full font-bold py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none
                                                    {% if contrat.getStatus() == '1' %} text-gray-400
                                                    {% elseif contrat.getStatus() == '2' %} text-yellow-400
                                                    {% elseif contrat.getStatus() == '3' %} text-green-600
                                                    {% elseif contrat.getStatus() == '4' %} text-red-600
                                                    {% elseif contrat.getStatus() == '5' %} text-red-600
                                                    {% elseif contrat.getStatus() == '6' %} text-red-600
                                                    {% endif %}
                                                " data-status-url="{{ path('status_update', { 'contratid': contrat.getId(),'newstatus':1 }) }}">

                                                    <option disabled="disabled" value="1" class="text-gray-400" {% if contrat.getStatus() == '1' %} selected  {% endif %}>En attente client</option>
                                                    <option disabled="disabled" value="2" class="text-yellow-400" {% if contrat.getStatus() == '2' %} selected  {% endif %}>En attente back-office</option>
                                                    <option value="3" class="text-green-600" {% if contrat.getStatus() == '3' %} selected  {% endif %}>Validé</option>
                                                    <option value="4" class="text-red-600" {% if contrat.getStatus() == '4' %} selected  {% endif %}>Rétracté</option>
                                                    <option value="5" class="text-red-600" {% if contrat.getStatus() == '5' %} selected  {% endif %}>Injoignable</option>
                                                    <option value="6" class="text-red-600" {% if contrat.getStatus() == '6' %} selected  {% endif %}>Impayé</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="w-full text-center flex flex-row justify-between">
                                        <button class="w-5/12 detail_button py-2 px-auto border border-transparent text-sm font-medium rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" data-value="contrat{{ contrat.getNumContrat() }}">Détails</button>
                                            <a class="w-5/12" href="{{ path('backoffice_export', {'contratid': contrat.getId()}) }}"><button class="w-full py-2 px-auto border border-transparent text-sm font-medium rounded-sm text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"><i class="fas fa-arrow-down"></i> Exporter</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="contrat_details w-screen h-screen z-50 hidden fixed m-0 left-0 top-0" id="contrat{{ contrat.getNumContrat() }}">
                                <div class="w-full h-full bg-gray-300 bg-opacity-50 flex flex-col justify-center">
                                    <div class="py-3 min-w-1/2 sm:mx-auto">
                                        <div class="bg-white min-w-1xl flex flex-col rounded-sm shadow-lg p-5">
                                            <div class="ml-10 px-12 py-5">
                                                <h2 class="text-gray-800 text-3xl font-semibold">Contrat n°{{ contrat.getNumContrat() }}</h2>
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-sm my-1">

                                                {% if contrat.getStatus() == '1' %}
                                                    <i class="fas fa-info-circle dtp text-gray-400"></i><p class="list-status text-gray-400 uppercase">En attente client</p>
                                                {% elseif contrat.getStatus() == '2' %}
                                                    <i class="fas fa-info-circle dtp text-yellow-400"></i><p class="list-status text-yellow-400 uppercase">En attente back-office</p>
                                                {% elseif contrat.getStatus() == '3' %}
                                                    <i class="fas fa-info-circle dtp text-green-600"></i><p class="list-status text-green-600 uppercase">Validé</p>
                                                {% elseif contrat.getStatus() == '4' %}
                                                    <i class="fas fa-info-circle dtp text-red-600"></i><p class="list-status text-red-600 uppercase">Rétracté</p>
                                                {% elseif contrat.getStatus() == '5' %}
                                                    <i class="fas fa-info-circle dtp text-red-600"></i><p class="list-status text-red-600 uppercase">Injoignable</p>
                                                {% elseif contrat.getStatus() == '6' %}
                                                    <i class="fas fa-info-circle dtp text-red-600"></i><p class="list-status text-red-600 uppercase">Impayé</p>
                                                {% else %}
                                                    <i class="fas fa-info-circle dtp text-red-900"></i><p class="list-status text-red-900 uppercase">Erreur</p>
                                                {% endif %}
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="far fa-calendar-alt dtp"></i>
                                                <p>Fait le {{ contrat.getCreated() }}</p>
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="fas fa-briefcase"></i>
                                                <p class="list-salesman">{{ contrat.getSalesman().getFirstname() }} {{ contrat.getSalesman().getName() }} </p>
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="fas fa-building"></i>
                                                <p class="list-distributeur text-sm">{{ contrat.getSalesman().getDistributor() }}</p>
                                            </div>
                                            <div class="h-0.5 bg-gray-300 w-1/2 mx-auto my-5"></div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="fas fa-user dtp"></i>
                                                <p>{% if contrat.getInfoClient()['gender'] == 'F' %}
                                                        Mme
                                                    {% else %}
                                                        M.
                                                    {% endif %} {{ contrat.getInfoClient()['firstname'] }} {{ contrat.getInfoClient()['lastname'] }}</p>
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="fas fa-calendar-day dtp"></i>
                                                <p>Né{% if contrat.getInfoClient()['gender'] == 'F' %}e{% endif%} le {{ contrat.getInfoClient()['birthdate'] }}</p>
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="fas fa-map-marker-alt dtp"></i>
                                                <p>{{ contrat.getInfoClient()['address'] }}</p>
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="fas fa-envelope dtp2"></i>
                                                <p>{{ contrat.getInfoClient()['zipcode'] }} {{ contrat.getInfoClient()['city'] }}</p>
                                            </div>
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="far fa-flag dtp2"></i>
                                                <p>{{ contrat.getInfoClient()['country'] }}</p>
                                            </div>
                                            {% if contrat.getInfoClient()['phone'] %}
                                                <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                    <i class="fas fa-phone dtp"></i>
                                                    <a class="hover:text-yellow-500" href="tel:{{ contrat.getInfoClient()['phone'] }}">{{ contrat.getInfoClient()['phone'] }}</a>
                                                </div>
                                            {% endif %}
                                            {% if contrat.getInfoClient()['mobile'] %}
                                                <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                    <i class="fas fa-mobile-alt dtp"></i>
                                                    <a class="hover:text-yellow-500" href="tel:{{ contrat.getInfoClient()['mobile'] }}">{{ contrat.getInfoClient()['mobile'] }}</a>
                                                </div>
                                            {% endif %}
                                            <div class="ml-10 flex space-x-2 text-gray-400 text-sm my-1">
                                                <i class="fas fa-at dtp"></i>
                                                <a class="hover:text-yellow-500" href="mailto:{{ contrat.getInfoClient()['mail'] }}">{{ contrat.getInfoClient()['mail'] }}</a>
                                            </div>
                                            <div class="h-0.5 bg-gray-300 w-1/2 mx-auto my-5"></div>
                                            <div class="h-20 flex items-center justify-center">
                                                <a href="#" class="back-button py-2 px-10 border border-transparent text-sm font-medium rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">Retour</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="pagination w-full flex flex-wrap justify-center items-center"></ul>
                <!-- This example requires Tailwind CSS v2.0+ -->
                <div id="waiting-modal" class="hidden z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                <div class="sm:flex sm:items-start">
                                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-yellow-100 sm:mx-0 sm:h-10 sm:w-10">
                                        <!-- Heroicon name: outline/exclamation -->
                                        <i class="text-yellow-500 fas fa-hourglass-half"></i>
                                    </div>
                                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                            Exportation en cours
                                        </h3>
                                        <div class="mt-2">
                                            <p class="text-sm text-gray-500">
                                                Exportation en cours, veuillez patienter...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        {% else %}
            <div class="justify-center flex-col items-center flex mt-80">
                <i class="fas fa-file-signature fa-7x mb-4 text-yellow-500"></i>
                <h2 class="text-center text-gray-900 font-bold text-2xl">Aucun contrat n'a été réalisé.</h2>
            </div>
        {% endif %}
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    <script>
        let button_details = document.querySelectorAll('.detail_button')
        let status = document.querySelectorAll('.status')

        status.forEach((value => {
            let urlTemp = value.getAttribute('data-status-url')
            let url = urlTemp.slice(0,-1)
            value.onchange = ()=>{
                fetch(url+value.value).then(data=>data.json()).then((response)=>{
                    if (!response){
                        alert('Une erreur est survenue avec le serveur, Veuillez contacter un administrateur')
                    }
                })

                switch(value.value) {
                    case '1':
                        value.setAttribute('class', 'status w-full font-bold py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none text-gray-400')
                        break;
                    case '2':
                        value.setAttribute('class', 'status w-full font-bold py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none text-yellow-400')
                        break;
                    case '3':
                        value.setAttribute('class', 'status w-full font-bold py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none text-green-600')
                        break;
                    case '4':
                        value.setAttribute('class', 'status w-full font-bold py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none text-red-600')
                        break;
                    case '5':
                        value.setAttribute('class', 'status w-full font-bold py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none text-red-600')
                        break;
                    case '6':
                        value.setAttribute('class', 'status w-full font-bold py-2 px-3 placeholder-gray-500 rounded-sm border border-solid border-gray-300 focus:border-yellow-500 outline-none text-red-600')
                        break;
                }
            }
        }))

        button_details.forEach((button)=>{
            button.addEventListener('click',(e)=>{
                let numcont = e.target.getAttribute('data-value')
                document.getElementById(numcont).style.display = 'block'
                document.querySelectorAll('.back-button').forEach(back=>{
                    back.addEventListener('click',(e)=> {
                        document.getElementById(numcont).style.display = 'none'
                    })
                })
            })
        })

        let options = {
            valueNames: [
                'list-salesman',
                'list-status',
                'list-numcontrat',
                {name: 'list-datecontrat', attr: 'data-timestamp'},
                'list-doublon',
                'list-distributeur',
                'list-nom'
            ],
            page: 30,
            pagination: true
        };
        let contratsList = new List('contrats-list', options);

        contratsList.sort('list-datecontrat',{order:"desc"})
        contratsList.on('updated',()=>{
            updateNbContracts(contratsList.visibleItems.length)
        })

        pagination()
        function pagination(){
            let linkPage = document.querySelectorAll('.page')
            linkPage.forEach((page)=>{
                page.setAttribute('class', 'page py-2 px-4 mx-2 border border-transparent text-sm font-medium rounded-sm text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500')
            })

            let linkPageActive = document.querySelectorAll('.active.page')
            linkPageActive.forEach((pageActive)=>{
                pageActive.setAttribute('class', 'bg-yellow-500')
            })
        }

        updateNbContracts(contratsList.visibleItems.length)
        function updateNbContracts(nbContracts){
            document.querySelector('#nb_contracts').innerHTML = nbContracts
        }

        //Exportation dropdown JS
        let dropdownButton = document.getElementById('export-selection-button')
        let dropdownMenu = document.getElementById('export-selection-menu')

        const closeMenu = (e)=>{
            if (e.target !== dropdownMenu && e.target !== dropdownButton){
                dropdownMenu.classList.add('hidden')
                dropdownMenu.classList.remove('block')
                dropdownButton.setAttribute('aria-expanded',"false")
                window.removeEventListener('click',closeMenu)
            }
        }

        dropdownButton.addEventListener('click',(e)=>{
            if (dropdownButton.getAttribute('aria-expanded') === "true"){
                dropdownMenu.classList.add('hidden')
                dropdownMenu.classList.remove('block')
                dropdownButton.setAttribute('aria-expanded',"false")
                window.removeEventListener('click',closeMenu)
            }else{
                dropdownMenu.classList.add('block')
                dropdownMenu.classList.remove('hidden')
                dropdownButton.setAttribute('aria-expanded',"true")
                window.addEventListener('click',closeMenu)
            }
        })

        document.getElementById('export-selection-item-0').addEventListener('click',(e)=> {
            let waitingModal = document.getElementById('waiting-modal')
            let contracts = {
                'contracts':contratsList.visibleItems
            }
            const paramFetch = {
                method: 'POST',
                body: JSON.stringify(contracts),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            waitingModal.classList.add('fixed')
            waitingModal.classList.remove('hidden')
            fetch('{{ url('backoffice_export_selection') }}', paramFetch)
                .then( res => res.blob() )
                .then( blob => {
                    waitingModal.classList.add('hidden')
                    waitingModal.classList.remove('fixed')
                    let file = window.URL.createObjectURL(blob);
                    let a = document.createElement('a')
                    a.href = file;
                    a.download = 'contrats_stark_industries';
                    a.click();
                    window.URL.revokeObjectURL(file);
                })
        })

    </script>

{% endblock %}
