<nav class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6">
    <div class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto">
        <button id="open_menu" class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent" type="button"><i class="fas fa-bars"></i></button>
        <a class="md:block text-left md:pb-2 text-Gray-600 mr-0 inline-block whitespace-nowrap text-lg uppercase font-bold p-4 px-0" >Stark Industries</a>
        <div id="navbar_menu" class="bg-white md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded menu_closed p-4 md:p-0">

            <div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-Gray-200">
                <div class="flex flex-wrap">
                    <div class="w-6/12">
                        <a class="md:block text-left md:pb-2 text-Gray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0">Stark Industries</a>
                    </div>
                    <div class="w-6/12 flex justify-end">
                        <button id="close_menu" type="button" class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex justify-between flex-col flex-1">
                <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="items-center"><a class="text-gray-900 opacity-75 hover:text-yellow-500 text-md uppercase py-3 font-bold block" href="{{ path('admin_home') }}"><i class="fas fa-user-cog mr-2 text-sm"></i>Administration</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_BACKOFFICE') %}
                        <li class="items-center"><a class="text-gray-900 opacity-75 hover:text-yellow-500 text-md uppercase py-3 font-bold block" href="{{ path('backoffice_home') }}"><i class="fas fa-home mr-2 text-sm"></i>Contrats</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_SALESMAN') %}
                        <li class="items-center"><a class="text-gray-900 opacity-75 hover:text-yellow-500 text-md uppercase py-3 font-bold block" href="{{ path('salesman_home') }}"><i class="fas fa-home mr-2 text-sm"></i>Contrats</a></li>
                        <li class="items-center"><a class="text-gray-900 opacity-75 hover:text-yellow-500 text-md uppercase py-3 font-bold block" href="{{ path('new-contract') }}"><i class="fas fa-edit mr-2 text-sm"></i>Nouveau contrat</a></li>
                        <li class="items-center"><a class="text-gray-900 opacity-75 hover:text-yellow-500 text-md uppercase py-3 font-bold block" href="{{ path('salesman_documents') }}"><i class="fas fa-file-alt mr-2 text-sm"></i>Documents</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_DISTRIBUTOR') %}
                        <li class="items-center"><a class="text-gray-900 opacity-75 hover:text-yellow-500 text-md uppercase py-3 font-bold block" href="{{ path('distributor_home') }}"><i class="fas fa-home mr-2 text-sm"></i>Contrats</a></li>
                    {% endif %}
                </ul>
                <ul class="md:flex-col md:min-w-full flex flex-col list-none">
                    <li class="items-center"><a class="text-red-600 opacity-75 hover:text-yellow-500 text-md uppercase py-3 font-bold block" href="{{ path('app_logout') }}"><i class="fas fa-power-off mr-2 text-sm"></i>Déconnexion</a></li>
                </ul>
            </div>

        </div>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            let openButton = document.getElementById('open_menu')
            let closeButton = document.getElementById('close_menu')
            let menu = document.getElementById('navbar_menu')

            openButton.addEventListener('click',()=>{
                menu.classList.remove('menu_closed')
                menu.classList.add('menu_opened')
            })

            closeButton.addEventListener('click',()=>{
                menu.classList.add('menu_closed')
                menu.classList.remove('menu_opened')
            })
        })
    </script>
</nav>